        .team-card {
            @apply relative overflow-hidden rounded-2xl shadow-lg cursor-pointer;
        }
        .team-card-overlay {
            @apply absolute inset-0 bg-black bg-opacity-70 flex flex-col items-center justify-center p-4 text-center transform translate-y-full group-hover:translate-y-0 transition-transform duration-500 ease-in-out;
        }
        .team-card .member-info {
            @apply absolute bottom-0 left-0 right-0 p-4 bg-gradient-to-t from-black/30 to-transparent transition-opacity duration-300 group-hover:opacity-0;
        }

		.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset,-16px);
  left: auto;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
	padding: 7px;

}

        
